// @mixins
//
// Zone annexe
@mixin annex-zone {
  background-color: $gray-extra-light;
  border-top: 4px solid $gray-light;
  padding-bottom: rem-calc(36);
  padding-top: rem-calc(12);
}

@mixin delimiter-bottom($color) {
  border-bottom: 4px solid $color;
  padding-bottom: rem-calc(12);
}

@mixin delimiter-top($color) {
  border-top: 4px solid $color;
  padding-top: rem-calc(12);
}

@mixin no-delimiter-bottom() {
  border-bottom: 0px;
  padding-bottom: 0px;
}

@mixin no-delimiter-top() {
  border-top: 0px;
  padding-top: 0px;
}