html{
  height: 100%;
}
body {
  background: url(../img/backgrounds/shattered.png);
  min-height: 100%;
}

article {
  background-color: $color-light;
  border: 1px solid $color-gray-extra-dark;
  margin-bottom: rem-calc(36) !important;
}

pre {
  white-space: normal;
}

time {
  line-height: $paragraph-line-height;
}

article p {
  // -moz-columns: 2;
  // -webkit-columns: 2;
  // columns: 2;
  text-align: justify;
}

.page-number {
  padding-left: rem-calc(12);
  padding-right: rem-calc(12);
}

.post-meta-annex,
.post-excerpt {
  padding-top: rem-calc(12);
  text-align: justify;
  @media #{$large-up} {
    @include delimiter-top($color-gray-light);
  }
}

.delimiter-header-annex {
  @media #{$large-up} {
    @include delimiter-bottom($color-gray-extra-dark);
  }
}

.delimiter-header-name {
  @include delimiter-bottom($color-flash);
}

.post-meta-date {
  @include delimiter-bottom($color-flash);
  color: $color-flash;
  font-size: rem-calc(24);
  text-align: right;
  @media #{$large-up} {
    @include no-delimiter-bottom();
    @include delimiter-top($color-flash);
  }
}

.post-content {
  padding-top: rem-calc(36);
}

// .site-name {
//   background-color: $color-flash;
//   color: $color-light;
// }


// .site-head,
.content {
  color: $color-dark;
}
.content {
  margin-top: rem-calc(48);
}

h1.blog-title {
  font-family: $font-header;
  &::first-letter {
    // color: green;
    color: $color-flash;
  }
}

.icon-separate {
  background: url(img/hackorder-logo.svg) no-repeat;
  height: 32px;
  width: 200px;
}

.theme-separate {
  background-image: linear-gradient(90deg, $color-dark 25%, transparent 25%);
  background-size: 20px 30px;
  height: 30px;
  margin-bottom: 45px;
}



// .tag-code {
//   .post-excerpt {
//     @media #{$large-up} {
//       background: #272727 url(../img/code.png) no-repeat top left;
//     }
//   }
// }

.post {
  margin-bottom: rem-calc(48);
  .post-title {
    a {
      color: inherit;
    }
  }
  a.next {
    background-color: $color-flash;
    color: $color-light;
    font-family: $font-body;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 4px 10px 4px 10px;
  }
}



aside > section.post-meta-author {
  display: none;
  @media #{$large-up} {
    display: block;
    border-bottom: 4px solid $color-flash;
  }
}
footer.post-meta-author {
  @include annex-zone;
}
nav.pagination {
  text-align: center;
  margin-bottom: rem-calc(36);
  margin-top: rem-calc(36);
}

footer.site-footer {
  color: $color-dark;
  padding-top: rem-calc(36);
  aside {
    > h1 {
      color: $color-flash;
      font-size: rem-calc(36);
      margin-bottom: rem-calc(36);
    }
  }
  .poweredby {
    color: $color-dark;
    padding-top: rem-calc(36);
    text-align: center;
    p {
      font-size: rem-calc(12);
    }
  }
  .links {
    ul {
      margin-left: 0;
      li {
        margin-bottom: rem-calc(12);
        a {
          color: $color-flash;
          font-size: rem-calc(18);
          text-decoration: uppercase;
        }
      }
    }
  }
}

ul {
  list-style-type: none;
  margin-left: 0;
  li {

  }
}

.subscribe:before {
  background: $color-light;
  border-radius: 50%;
  height: $subscribe-size;
  line-height: $subscribe-size;
  margin-right: rem-calc(6);
  width: $subscribe-size;
}

.post-header h1 {
  font-size: rem-calc(28);
}