// @mixins
//
// Zone annexe
@mixin annex-zone {
  background-color: $gray-extra-light;
  border-top: 4px solid $gray-light;
  padding-bottom: rem-calc(36);
  padding-top: rem-calc(12);
}

@mixin delimiter($color) {
  border-top: 4px solid $color;
  padding-top: rem-calc(12);
}