////////////////////////////////////////////////////////////////////////
// Définitions des polices
////////////////////////////////////////////////////////////////////////

// http://fonts.googleapis.com/css?family=Varela
@font-face {
  font-family: 'Varela';
  font-weight: normal;
  font-style: normal;
}

// http://fonts.googleapis.com/css?family=Raleway:700
@font-face {
  font-family: 'Raleway';
  font-weight: normal;
  font-style: normal;
}