////////////////////////////////////////////////////////////////////////
// Définitions des polices
////////////////////////////////////////////////////////////////////////

@font-face {
  font-family: 'Varela';
  src: url(http://fonts.googleapis.com/css?family=Varela);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(http://fonts.googleapis.com/css?family=Raleway:700);
  font-weight: normal;
  font-style: normal;
}