
// colors
$color-dark: #272f32;
$color-light: #ffffff;
$color-flash: #e31a1c;
$color-gray-extra-light: #fafafa;
$color-gray-light: #dddddd;
$color-gray-medium: #dadada;
$color-gray-dark: #cccccc;
$color-gray-extra-dark: #bbbbbb;

// fonts
$font-body: "Raleway";
$font-header: "Varela";

//
$subscribe-size : 2em;

// FIXME :: surcharge CSS de Foundation pour ne pas entraver le fonctionnement de prism.js
// vraiment normal de devoir en arriver là ?
$code-background-color: inherit;
$code-border-color: inherit;
$code-border-size: 0px !default;