
// default colors
$dark-color: #272f32;
$light-color: #ffffff;
$theme-light-color: #daeaef;
$theme-dark-color: #9dbdc6;
// $flash-color: #fc4e2a;
$flash-color: #e31a1c;
// $flash-color: #ff3d2e;

$gray-extra-light: #fafafa;
$gray-light: #dddddd;
// $gray-medium: #dadada;
// $gray-medium: green;

$body-font: "Raleway";
$header-font: "Varela";

$subscribe-size : 2em;