<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{pageUrl prev}}"><span class="icon-angle-left"/> + récents</a>
    {{/if}}
    <span class="page-number">Page {{page}} / {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{pageUrl next}}">+ anciens <span class="icon-angle-right"/></a>
    {{/if}}
</nav>