# Apple crap
*.DS_Store
# Sass cache folder
.sass-cache
# 
/dist/*
# Bower components
/bower_components/*
# NPM
/node_modules/*
npm-debug.log
# More easy to dev but not needed
/assets/css
# Specific config
_config.json